$primary-color: #000000;
$secondary-color: #3F4E65;
$interactive-color: #FFC85E;

.filter {

    &__title {
        color: $primary-color;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    &__list {
        color:$secondary-color;
        line-height: 21px;
        display: flex;
        flex-direction: column;
    }

    &__item {
        cursor: pointer;
        margin-bottom: 10px;
    }
}